<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li id="commercials_menu">
                <a class="" href="{{ path('commercials_list') }}">
                    <i class="icon_table"></i>
                    <span>Commerciaux</span>
                </a>
            </li>
            <li id="registerer_menu">
                <a class="" href="{{ path('registration') }}">
                    <i class="icon_group"></i>
                    <span style="font-size: 14px;">Ajouter un commercial</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
