<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu head_ul">
            <li id="clients_menu">
                <a class="" href="{{ path('clients_list') }}">
                    <i class="icon_group"></i>
                    <span>Clients</span>
                </a>
            </li>
            <li id="articles_menu">
                <a class="" href="{{ path('articles_list') }}">
                    <i class="fa fa-shopping-cart"></i>
                    <span style="font-size: 14px;">Articles</span>
                </a>
            </li>
            <li id="docs_menu">
                <a class="" href="{{ path('documents_details') }}">
                    <i class="fa fa-file-invoice"></i>
                    <span style="font-size: 14px;">Documents</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
